.mainHeader {
    text-align: center !important;
    margin-bottom: 20px;

}


.main-jumbo {
    background-image: url("images/simply-pets-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    margin-right: 0;
    
}
.secondHeader {
    text-align: center !important;
}


.grid-right {
    margin-right: 5%;
}

.grid-left {
    margin-left: 1%;
}


.grid {
    width: 98%;
    height: 100%;
}

.image-container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-size: 24px;
    padding: 12px 24px;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 5px;
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .btn:hover {
      font-weight: bold;
  }

  .image-container {
      margin: 10px;
  }

  .jumbo-2 {
      margin-top: 50px;
  }

  .jumbotron-2-text {
      line-height: 2.0;
  }
 
  .product-grid {
      width: 100%;
      height: 100%;
  }

  .products-grid {
      margin: 20px;
  }

  #reptile-jumbo {
      background-image: url("images/snake.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: -50% 160%;
      background-size: cover;
      color: white;
      margin-bottom: 0;
      
  }

  

  #reptile-header {
      font-size: 72px;
  }

  #fish-jumbo {
      background-image: url("images/fish-header.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 100% 160%;
      background-size: cover;
      color: white;
      margin-bottom: 0;
  }

  #fish-header {
      font-size: 72px;
  }

  #bird-jumbo {
    background-image: url("images/parrots.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 75% 25%;
    background-size: cover;
    color: white;
    
  }

  #bird-header {
      font-size: 72px;
  }

  #mammal-jumbo {
    background-image: url("images/guinea-pig.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 135%;
    background-size: cover;
    color: white;
  }

  #mammal-header {
      font-size: 72px;
  }

  .nav-centered {
      font-size: 20px;
      margin-right: 20px;
      margin-left: 20px;
  }

  h2 {
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .python-card {
      width: 90%;
      height: 200px;
      margin: 5%;
  }

  
  #price {
      float: right;
  }

  .card {
      margin-bottom: 20px;
      border: 0;
      
  }

  .hidden {
      display: none;
  }